# Permitir acesso apenas a arquivos PDF
<FilesMatch "\.(?i:pdf)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Negar acesso a todos os outros tipos de arquivo
<FilesMatch "^(?!\.).+$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Prevenir listagem de diretório
Options -Indexes 